@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Clash Display", sans-serif;
}

@layer components {
  .backdrop-filter {
    backdrop-filter: blur(10px);
  }
  .button {
    @apply relative overflow-hidden inline-block px-4 py-2 border-2 border-white text-white bg-transparent font-bold text-xl transition-all duration-300;
  }

  .button::before {
    @apply absolute top-0 left-[-120%] w-full h-full bg-black transition-all duration-300;
    content: "";
    z-index: 1;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
  }

  .button:hover::before {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .button .button-text {
    @apply relative z-10;
  }

  .button .button-arrow {
    @apply absolute right-4 opacity-0 transform translate-x-[-10px] transition-opacity transition-transform duration-300 z-10;
  }

  .button:hover .button-arrow {
    @apply opacity-100 transform translate-x-0;
  }
}

.font-mono {
  font-family: "Fira Mono", monospace;
}

.font-outfit {
  font-family: "Outfit", monospace;
}

.onramp-background {
  background: rgba(125, 125, 125, 0.33);
  backdrop-filter: blur(20.649999618530273px);
}

.card-shaper {
  clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}

.slanted-border {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  border-radius: 0 0 0 20px; /* Adjust this to match other corners' radius */
}

.slanted-border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 0% 100%);
  border-radius: 0 0 20px 0; /* Adjust this to match other corners' radius */
  background: white; /* Assuming the image is on a white background, adjust if necessary */
  z-index: 1;
}

.border-gradient {
  border: 1px solid;
  border-image: linear-gradient(90deg, #3c1fef 0%, #c51fef 50%, #ef9c1f 100%);
  border-image-slice: 1;
  border-radius: 8px;
}

.custom-slide {
  width: 400px !important;
}

.background-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 77% 27%,
      rgba(233, 80, 169, 0.55),
      transparent 70%
    ),
    radial-gradient(circle at 48% 8%, rgba(25, 187, 240, 0.55), transparent 70%);
  z-index: -1;
}

.border-gradient-bottom-right {
  position: relative;
  border: 1px solid transparent;
}

.border-gradient-bottom-right:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(to bottom, transparent, #989898),
    linear-gradient(to bottom right, #989898, transparent);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.mobileNav {
  border-bottom: 1px solid #dadada;

  background: rgba(175, 175, 175, 0.97);

  backdrop-filter: blur(83.75px);
}
